body{
  background-image: url(../img/img.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
#app{
  width: 800px;
  height: auto;
  text-align: center;
  margin: 50px auto;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
}
h1{
  text-transform: uppercase;
  color: white;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 40px;
}
input{
  width: 100%;
  line-height: 30px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 15px;
}
input:over{
  background-color: white;
  border: none;
}
ul{
  margin: 25px 0px;
  list-style: none;
  width: 100%;
  padding: 0px;
}
li{
  display: flex;
  justify-content: space-between;
  height: 55px;
  line-height: 55px;
  font-size: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}
ul i {
  margin: auto 5px;
  color: rgba(255, 255, 255, 0.5);

}
p.underline{
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.4);

}